---
import Label from '@phantom/ui/label.astro';
import Select from '@phantom/ui/select.astro';
import type { ComponentProps } from 'astro/types';
import { sizeSchema } from '..';

type Props = ComponentProps<typeof Select> & { selected: string | undefined };

const { name, selected, ...props } = Astro.props;
---

<div class="mb-3 flex flex-col gap-1">
  <Label for={`playground-${name}`}>Size</Label>
  <!-- @ts-ignore -->
  <Select {...props} id={`playground-${name}`} name={name}>
    {
      sizeSchema.unwrap()._def.values.map((size) => (
        <option value={size} selected={(!selected && size === 'md') || size === selected}>
          {size}
        </option>
      ))
    }
  </Select>
</div>
