---
import * as Breadcrumbs from '@phantom/ui/breadcrumbs';
import Link from '@phantom/ui/link.astro';
import Separator from '@phantom/ui/separator.astro';
import type { CollectionEntry } from 'astro:content';
import { Home } from 'lucide-astro';
import NavigationDesktop from '../components/navigation-desktop.astro';
import Layout from './index.astro';

type Props = CollectionEntry<'components'>;

const { slug, data } = Astro.props;
---

<Layout>
  <div class="mx-auto my-10 max-w-screen-2xl lg:grid lg:grid-cols-[18ch_1fr] lg:gap-6">
    <aside class="scrollbar-thin hidden h-[calc(100vh-14rem)] overflow-auto lg:block">
      <NavigationDesktop />
    </aside>
    <section class="flex flex-col gap-6 rounded border">
      <div class="bg-surface-2 flex justify-between gap-4 rounded-t border-b px-6 py-3">
        <Breadcrumbs.Root>
          <Breadcrumbs.Item href="/" aria-label="Home"><Home size={16} /></Breadcrumbs.Item>
          <Breadcrumbs.Item href="/components">Components</Breadcrumbs.Item>
          <Breadcrumbs.Item href={`/components/${slug}`}>{data.title}</Breadcrumbs.Item>
        </Breadcrumbs.Root>
        <div class="flex items-center gap-4 text-sm">
          <Link href={data.repo}>Source</Link>
          <Link href={data.accessibility}>Accessibility</Link>
        </div>
      </div>
      <div class="px-6 lg:px-10">
        <h1 class="text-xl font-semibold">{data.title}</h1>
        <p class="text-foreground-2 max-w-prose">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione placeat earum
          praesentium quod aspernatur est sequi nisi non eius! Consequatur laborum quos.
        </p>
        <Separator class="mb-10 mt-6" />
        <slot />
      </div>
    </section>
  </div>
</Layout>
