---
import { badgeVariants } from '@phantom/ui/badge.astro';
import * as Breadcrumbs from '@phantom/ui/breadcrumbs';
import Link from '@phantom/ui/link.astro';
import Separator from '@phantom/ui/separator.astro';
import type { CollectionEntry } from 'astro:content';
import { Eye, Github, Home } from 'lucide-astro';
import { twJoin } from 'tailwind-merge';
import NavigationDesktop from '../components/navigation-desktop.astro';
import Layout from './index.astro';

type Props = CollectionEntry<'components'>;

const { slug, data } = Astro.props;
---

<Layout>
  <div class="mx-auto my-10 max-w-screen-xl lg:grid lg:grid-cols-[14rem_1fr_10rem] lg:gap-6">
    <aside class="scrollbar-thin hidden h-[calc(100vh-14rem)] overflow-auto lg:block">
      <NavigationDesktop />
    </aside>
    <section class="flex flex-col gap-6 rounded border">
      <div class="bg-surface-2 flex justify-between gap-4 rounded-t border-b px-6 py-3">
        <Breadcrumbs.Root>
          <Breadcrumbs.Item href="/" aria-label="Home"><Home size={16} /></Breadcrumbs.Item>
          <Breadcrumbs.Item href="/components">Components</Breadcrumbs.Item>
          <Breadcrumbs.Item href={`/components/${slug}`}>{data.title}</Breadcrumbs.Item>
        </Breadcrumbs.Root>
      </div>
      <div class="px-6 lg:px-10">
        <h1
          class={twJoin(
            'text-xxl bg-clip-text font-semibold uppercase leading-none tracking-widest text-transparent',
            'bg-[radial-gradient(hsl(var(--foreground-1))_1px,transparent_0)] bg-[size:2px_2px]',
          )}
        >
          {data.title}
        </h1>
        <p class="text-foreground-2 max-w-prose">{data.description}</p>
        <div class="mt-4 flex gap-4">
          <Link href={data.repo} class={badgeVariants({ color: 'neutral' })}>
            <Github aria-hidden class="size-3" />Source
          </Link>
          <Link href={data.accessibility} class={badgeVariants({ color: 'neutral' })}>
            <Eye aria-hidden class="size-3" />Accessibility
          </Link>
        </div>
      </div>
      <Separator class="mb-6 mt-3" />
      <div class="px-6 pb-10 lg:px-10"><slot /></div>
    </section>
  </div>
</Layout>
